/* styles.css */

/* Fuente Dancing Script con peso 700 */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Mea+Culpa&display=swap');

/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos generales */
html, body {
  height: 100%;
  font-family: 'Dancing Script', cursive;
  background: url('../images/fondo-boda.jpg') no-repeat center center fixed;
  background-size: cover;
  color: #5e4637;
}

/* Contenedor principal */
#cover {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 1rem;
  /* Fondo semitransparente para que el texto resalte */
  background-color: rgba(250, 245, 240, 0.6);
}

/* Nombres sin cuadro, solo texto grande */
.names-box {
  color: #AD8A1F;
  margin-bottom: 1rem;
}

.names-box .name,
.names-box .ampersand {
  font-size: 6vw;
  font-weight: 700;
  display: block;
}

.names-box .ampersand {
  font-size: 4vw;
  margin: 0.1rem 0;
}

/* Texto de invitación */
.invite-text {
  font-family: Arial, sans-serif;
  font-size: 3vw;
  margin: 1rem 0;
  color: #5e4637;
  font-weight: normal;
}

/* Sobre */
.envelope-container {
  width: 20vw;
  height: 20vw;
  cursor: pointer;
  margin-top: 1rem; 
  z-index: 1;
}

.envelope-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Responsive */
@media (max-width: 600px) {
  .names-box {
    margin-top: 1rem; /* por ejemplo, mover hacia abajo */
  }

  .names-box .name {
    font-size: 10vw;
  }

  .names-box .ampersand {
    font-size: 8vw;
  }

  .invite-text {s
    font-size: 5vw;
  }

  .envelope-container {
    width: 80vw;
    height: 80vw;
  }
}
